<%- include('../partials/header.ejs') %>

<h1>Evening report:</h1>

<% if (errors) { %>
    <ul>
        <% Object.keys(errors).forEach((attribute) => { %>
            <% Object.values(errors[attribute]).forEach((err) => { %>
                <li><%= err %></li>
            <% }); %>
        <% }); %>
    </ul>
<% } %>

<form method='POST' action='/behavior/reporting/evening'>
    <label for='date'>Date:</label>
    <input type='date' id='date' name='date' value='<%= date %>' />
    <br />

    <label for='exercise_time'>Time spent exercising:</label>
    <input type='number' id='exercise_time' name='exercise_time' value='<%= exercise_time %>' min='0' max='24' step='0.1' />
    <br />

    <label for='study_time'>Time spent studying:</label>
    <input type='number' id='study_time' name='study_time' value='<%= study_time %>' min='0' max='24' step='0.1' />
    <br />

    <label for='eating_quality'>Quality of eating:</label>
    <input type='range' id='eating_quality' name='eating_quality' value='<%= eating_quality %>' min='1' max='5' onchange="updateValue('eating_quality', 'eating_quality_value')" />
    <label for='eating_quality' id='eating_quality_value'> 3 - okay </label>
    <br />

    <label for='mood'>Generic mood:</label>
    <input type='range' id='mood' name='mood' value='<%= mood %>' min='1' max='5' onchange="updateValue('mood', 'mood_value')" />
    <label for='mood' id='mood_value'> 3 - okay </label>
    <br />
    <input type='submit' value='Send report!' />
</form>

<%- include('../partials/footer.ejs') %>