<%- include('../partials/header.ejs') %>

<h1>Evening report:</h1>

<form method='POST' action='/behavior/reporting/evening'>
    <%- include('../partials/forms/dateField.ejs', { date: date, errors: errors }) %>

    <%- include('../partials/forms/numberField.ejs', {
        name: 'exercise_time', 
        text: 'Time spent exercising',
        value: exercise_time, 
        errors: errors 
    }) %>

    <%- include('../partials/forms/numberField.ejs', {
        name: 'study_time', 
        text: 'Time spent studying',
        value: study_time, 
        errors: errors 
    }) %>

    <%- include('../partials/forms/sliderField.ejs', {
        name: 'eating_quality', 
        value_id: 'eating_quality_value', 
        text: 'Quality of eating',
        value: eating_quality, 
        errors: errors 
    }) %>

    <%- include('../partials/forms/sliderField.ejs', {
        name: 'mood', 
        value_id: 'mood_value', 
        text: 'Generic mood',
        value: mood, 
        errors: errors 
    }) %>

    <input type='submit' value='Send report!' />
</form>

<%- include('../partials/footer.ejs') %>