<%- include('../partials/header.ejs') %>

<h1>Morning report:</h1>

<form method='POST' action='/behavior/reporting/morning'>
    <%- include('../partials/forms/dateField.ejs', { date: date, errors: errors }) %>

    <%- include('../partials/forms/numberField.ejs', {
        name: 'sleep_duration', 
        text: 'Sleep duration',
        value: sleep_duration, 
        errors: errors 
    }) %>

    <%- include('../partials/forms/sliderField.ejs', {
        name: 'sleep_quality', 
        value_id: 'sleep_quality_value', 
        text: 'Sleep quality',
        value: sleep_quality, 
        errors: errors 
    }) %>

    <%- include('../partials/forms/sliderField.ejs', {
        name: 'mood', 
        value_id: 'mood_value', 
        text: 'Generic mood',
        value: mood, 
        errors: errors 
    }) %>

    <input type='submit' value='Send report!' />
</form>

<%- include('../partials/footer.ejs') %>