<% if (average) { %>
    <table>
        <tr>
            <td>
                Average sleep duration:
            </td>
            <td>
                <%= +(Math.round(average.avg_sleep_duration + "e+2") + "e-2") %>
            </td>
        </tr>
        <tr>
            <td>
                Average sleep quality:
            </td>
            <td>
                <%= +(Math.round(average.avg_sleep_quality + "e+2") + "e-2") %>
            </td>
        </tr>
        <tr>
            <td>
                Average time spent on sports and exercise:
            </td>
            <td>
                <%= +(Math.round(average.avg_exercise_time + "e+2") + "e-2") %>
            </td>
        </tr>
        <tr>
            <td>
                Average time spent studying:
            </td>
            <td>
                <%= +(Math.round(average.avg_study_time + "e+2") + "e-2") %>
            </td>
        </tr>
        <tr>
            <td>
                Average mood:
            </td>
            <td>
                <%= +(Math.round(average.avg_mood + "e+2") + "e-2") %>
            </td>
        </tr>
    </table>  
<% } else { %>
    <p>No data for the given time period exists.</p>
<% } %>