<%- include('./partials/header.ejs') %>

<h1>Summary</h1>

<h2>Weekly average</h2>
<p>Week no. <%= week_no %>, <%= week_year %></p>
<%- include('./partials/tables/allAverages.ejs', { average: weekly_average }) %>

<h3>Select a week:</h3>
<form method='POST' action='/behavior/summary/week'>
    <div class='defaultWeek'>
        <input type='week' name='default_week' min='2017-W01' max='2020-W52' />
        <%- include('./partials/error.ejs', { errors: week_errors, attribute: 'week_no'}) %>
        <%- include('./partials/error.ejs', { errors: week_errors, attribute: 'week_year'}) %>
        <input type='submit' value='Select!' />
    </div>
    <div class='backupWeek'>
        <label for='week'>Week:</label>
        <select id='week' name='week'>
            <option value="none" selected disabled hidden> -- </option>
        </select>
        <%- include('./partials/error.ejs', { errors: week_errors, attribute: 'week_no'}) %>
        <label for='year'>Year:</label>
        <select id='year' name='year'>
            <option value="none" selected disabled hidden> ---- </option>
            <option value='2020'>2020</option>
            <option value='2019'>2019</option>
            <option value='2018'>2018</option>
            <option value='2017'>2017</option>
        </select>
        <%- include('./partials/error.ejs', { errors: week_errors, attribute: 'week_year'}) %>
        <input type='submit' value='Select!' />
    </div>
</form>

<h2>Monthly average</h2>
<p>Month no. <%= month_no %>, <%= month_year %></p>
<%- include('./partials/tables/allAverages.ejs', { average: monthly_average }) %>


<h3>Select a month:</h3>
<form method='POST' action='/behavior/summary/month'>
    <div class='defaultMonth'>
        <input type='month' name='default_month' min='2017-01' max='2020-12' />
        <%- include('./partials/error.ejs', { errors: month_errors, attribute: 'month_no'}) %>
        <%- include('./partials/error.ejs', { errors: month_errors, attribute: 'month_year'}) %>
        <input type='submit' value='Select!' />
    </div>
    <div class='backupMonth'>
        <label for='month'>Month:</label>
        <select id='month' name='month'>
            <option value="none" selected disabled hidden> -- </option>
        </select>
        <%- include('./partials/error.ejs', { errors: month_errors, attribute: 'month_no'}) %>
        <label for='year'>Year:</label>
        <select id='year' name='year'>
            <option value="none" selected disabled hidden> ---- </option>
            <option value='2020'>2020</option>
            <option value='2019'>2019</option>
            <option value='2018'>2018</option>
            <option value='2017'>2017</option>
        </select>
        <%- include('./partials/error.ejs', { errors: month_errors, attribute: 'month_year'}) %>
        <input type='submit' value='Select!' />
    </div>
</form>

<%- include('./partials/footer.ejs') %>