<%- include('./partials/header.ejs') %>

<h1>Summary</h1>

<h2>Weekly average</h2>
<p>Week no. <%= week_no %></p>
<% if (weekly_average) { %>
    <table>
        <tr>
            <td>
                Average sleep duration:
            </td>
            <td>
                <%= weekly_average.avg_sleep_duration %>
            </td>
        </tr>
        <tr>
            <td>
                Average sleep quality:
            </td>
            <td>
                <%= weekly_average.avg_sleep_quality %>
            </td>
        </tr>
        <tr>
            <td>
                Average time spent on sports and exercise:
            </td>
            <td>
                <%= weekly_average.avg_exercise_time %>
            </td>
        </tr>
        <tr>
            <td>
                Average time spent studying:
            </td>
            <td>
                <%= weekly_average.avg_study_time %>
            </td>
        </tr>
        <tr>
            <td>
                Average mood:
            </td>
            <td>
                <%= weekly_average.avg_mood %>
            </td>
        </tr>
    </table>
<% } else { %>
    <p>No data for the given week exists.</p>
<% } %>

<p>Select a week:</p>
<% if (week_errors) { %>
    <ul>
        <% Object.keys(week_errors).forEach((attribute) => { %>
            <% Object.values(week_errors[attribute]).forEach((err) => { %>
                <li><%= err %></li>
            <% }); %>
        <% }); %>
    </ul>
<% } %>
<form method='POST' action='/behavior/summary/week'>
    <input type='week' name='week' />
    <input type='submit' value='Select!' />
</form>

<h2>Monthly average</h2>
<p>Month no. <%= month_no %></p>
<% if (monthly_average) { %>
    <table>
        <tr>
            <td>
                Average sleep duration:
            </td>
            <td>
                <%= monthly_average.avg_sleep_duration %>
            </td>
        </tr>
        <tr>
            <td>
                Average sleep quality:
            </td>
            <td>
                <%= monthly_average.avg_sleep_quality %>
            </td>
        </tr>
        <tr>
            <td>
                Average time spent on sports and exercise:
            </td>
            <td>
                <%= monthly_average.avg_exercise_time %>
            </td>
        </tr>
        <tr>
            <td>
                Average time spent studying:
            </td>
            <td>
                <%= monthly_average.avg_study_time %>
            </td>
        </tr>
        <tr>
            <td>
                Average mood:
            </td>
            <td>
                <%= monthly_average.avg_mood %>
            </td>
        </tr>
    </table>
<% } else { %>
    <p>No data for the given month exists.</p>
<% } %>

<p>Select a month:</p>
<% if (month_errors) { %>
    <ul>
        <% Object.keys(month_errors).forEach((attribute) => { %>
            <% Object.values(month_errors[attribute]).forEach((err) => { %>
                <li><%= err %></li>
            <% }); %>
        <% }); %>
    </ul>
<% } %>
<form method='POST' action='/behavior/summary/month'>
    <input type='month' name='month' />
    <input type='submit' value='Select!' />
</form>

<%- include('./partials/footer.ejs') %>